
:root {
  height: 100vh;
  width: 100vw;
  background-color: #1076bb;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: 100vh;
  width: 100vh;
  background-color: #1076bb;
}
